<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- util beans -->
    <bean name="dataLoader" class="pizza.DataLoader$Sample" autowire="constructor" />

    <!-- persistence beans -->
    <bean name="prodRepo" class="pizza.product.HashMapProductRepository"/>

    <!-- service layer -->
    <bean name="prodService" class="pizza.product.ProductService" autowire="constructor"/>
    <bean name="custService" class="pizza.customer.CustomerService"/>
    <bean name="ordrService" class="pizza.order.OrderService" autowire="constructor"/>

</beans>
